{%extends "foundation/base.html" %}

{% load staticfiles %}

{% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.min.js" %}"></script>
{% endblock foundation_jquery %}

<title>{% block title %} Nehar's Blargh: {{ content_header }} {% endblock %}</title>

{% block base_body %}

    {% block top_bar %}
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">We are the sum of our actions</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    {% for cat in categories %}
                        {% if requested_category.category_name == cat.category_name %}
                            <li><b><a href="/category/{{ cat.category_name }}">{{ cat.category_name }}</a></b></li>
                        {% else %}
                            <li><a href="/category/{{ cat.category_name }}">{{ cat.category_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="callout large primary">
            <div class="row column text-center">
                {% block banner_text %}
                    <h1>My Blog</h1>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block top_nav %} {% include 'posts/pagination.html' %} {% endblock %}

    <div class="row" id="content">
        <div class="medium-8 columns">
            {% block main_content %} {% endblock main_content %}
        </div>

        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="content">
                <h4>Tags</h4>
                <ul>
                    {% for tag in all_tags %}
                        <li> {% if tag.tag_name in requested_tags %}
                            <b><a href="/tag/{{ tag.tag_name }}">{{ tag.tag_name }}</a></b>
                        {% else %}
                            <a href="/tag/{{ tag.tag_name }}">{{ tag.tag_name }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% block bottom_nav %} {% include 'posts/pagination.html' %} {% endblock %}
    {{ analytics_code }}

{% endblock base_body %}

