
<div class="row column">
    <ul class="pagination" role="navigation" aria-label="Pagination">
        {% if posts.has_previous %}
            <li><a href="{% url 'category_view' requested_category.category_name posts.previous_page_number %}"
                   aria-label="Previous page">&laquo;Previous</a></li>
        {% else %}
            <li class="disabled">Previous</li>
        {% endif %}

        {% for num in posts.paginator.page_links %}
            {% if num == -1 %}
                <li>&hellip;</li>
            {% elif num == posts.number %}
                <li class="current"><span class="show-for-sr">You're on</span>{{ posts.number }}</li>
            {% else %}
                <li><a href="{% url 'category_view' requested_category.category_name num %}" aria-label="Page {{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li><a href="{% url 'category_view' requested_category.category_name posts.next_page_number %}"
                   aria-label="Next page">Next&raquo;</a></li>
        {% else %}
            <li class="disabled">Next</li>
        {% endif %}
    </ul>
</div>